/* #Para01{
    color: yellow;
}
p{
    color: orange;
}
#container{
    background-color: aqua;
}   
#container{
    background-color: red;
} */
#Container{
    background-color: blue;
}
.Section{
    background-color: gray;
}